@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
=======
.error-box 
{
   font-size: 100px ;
   color:whitesmoke;
   
}


table
{
   margin : 5rem auto ; 
   border-radius: 2rem ;
   border:1rem hidden #443C68 ;
   border-collapse: collapse;
   box-shadow: 0 0 0 1px black ;
   overflow : hidden ; 
   max-width: 90rem ;
}
>>>>>>> faf3fc1782a4872d2fa83f623afc9d95958ac069

