@tailwind base;
@tailwind components;
@tailwind utilities;


.header
  
{  margin-top: 90px;
      margin-bottom: 50px;
   height:30px ;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.title
{
      font-size: 120px;
      font-weight: 800;
      color: rgb(47, 6, 86);
      justify-content: center;
      align-items: center;
}
.searchbar 
{  margin-top: 50px;
   height:30px ; 
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.searching {
   
   
      width: 500px ;
      border: 3px solid rgb(47, 6, 86);
      /* border-right: none; */
      padding: 5px;
      height: 35px;
      border-radius: 5px ;
      outline: none;

}